@model IEnumerable<string>

    <a class="btn btn-light"
       asp-action="SushiBoxList" asp-controller="SushiBox"
       asp-route-caregory="">
        Все категории
    </a>

@foreach (string category in Model)
{
    <a class="btn btn-light @(category == ViewBag.SelectedCategory ? "btn-info" : "btn-secondary")"
       asp-action="SushiBoxList"
       asp-controller="SushiBox"
       asp-route-category="@category">
        @category
    </a>
}