@model IEnumerable<string>

    <a class="btn btn-light"
       asp-action="BurgerKingList" asp-controller="BurgerKing"
       asp-route-caregory="">
        Все категории
    </a>

@foreach (string category in Model)
{
    <a class="btn btn-light"
       asp-action="BurgerKingList"
       asp-controller="BurgerKing"
       asp-route-category="@category">
        @category
    </a>
}
