@model IEnumerable<MDOrder>

@{ 
    ViewBag.Title = "MDOrder";
    Layout = "_AdminLayout";
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr><th>Имя</th><th>Описание</th><th>Количество</th></tr>
        @foreach (MDOrder o in Model)
        {
            <tr>
                <td colspan="3">@o.Name</td>
                <td>
                    <form asp-action="MarkShipped" method="post">
                        <input type="hidden" name="Id" value="@o.Id" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Ship
                        </button>
                    </form>
                </td>
            </tr>
            @foreach (MDCartLine line in o.Lines)
            {
                <tr>
                    <td colspan="1"></td>
                    <td>@line.Makdonalds.Name</td><td>@line.Quantity</td>
                    <td></td>
                </tr>
            }
        }
    </table>
}
else
{
    <div class="text-center">Список пуст</div>
}